
.logo:hover {
  filter: drop-shadow(0 0 9em #ffc6f3aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 9em #ff52bdaa);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav {
  height: 10%;
  margin-top: 2rem; 
}
nav > ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul > li {
  list-style: none;
  margin: 1rem;
}

.imagesPage {
  margin: 1rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(255, 144, 205);
}
